{{template "header.tmpl" .}}

<h1>Welcome on my ecommerce</h1>
<p>Where you can buy clothes for every occasion</p>

{{if eq .Role "administrator"}}
    <section style="margin-bottom: 20px;">
        <h2>Administrator Panel</h2>
        <a href="/app/admin/users">Manage Users</a>
    </section>
{{end}}

<section>
    <h2>Products</h2>
    <a href="/app/product/">Browse Products</a>
</section>

{{template "footer.tmpl" .}}