{{template "header.tmpl" .}}
<h2>Register</h2>

<form action="/register" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="{{.Username}}" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="{{.Email}}" required><br><br>
    <label for="phone">Phone:</label><br>
    <input type="tel" id="phone" name="phone" value="{{.Phone}}" required><br><br>
    <button type="submit">Register</button>
</form>
{{template "footer.tmpl" .}}